*{
    margin: 0;
    padding: 0;

}

/* menu bar and navbar  */

.MenuBar-body{
    width: 25.6875rem;
    height: 48rem;
    background-color: white;

}

  /* Customize the modal animation */
  @keyframes slideInRight {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(70%);
    }
  }

  /* Apply the animation to the modal */
  .modal.slide-right .modal-dialog {    
    animation: slideInRight 0.5s forwards;
  }

.modal-content{
    /* width: 100%; */
    width: 25.6875rem;
    height: 43rem;
    align-content: center;
    text-align: center;
    margin-left: 7rem !important;

}


.toggle-item{
    align-items: center;
    width: 100%;
    margin-top: 4%;
    text-decoration: none;
    padding-right: 5%;
    
}

.items-blue{
    width: 16.1875rem;
    height: 4.0625rem;
    flex-shrink: 0;
    border-radius: 2.8125rem;
    background: #003049;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.items-red{
    width: 15.875rem;
    height: 4.0625rem;
    flex-shrink: 0;
    border-radius: 2.8125rem;
    background: #780000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.toggle-link{
    color: #FFF;
    font-family: Poppins;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
    margin: 5%;
    padding: 5%;
}                                              
.link-toggle{
    text-decoration: none;
    color: #FFF;
}

.link-toggle:hover{
    text-decoration: none;
    color: #FFF;
}


.banner-page{
    background-image: url("../Images/Rectangle\ 484.svg") ;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar{
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
    background: #0e1429;
}


.navbar ul li {
    list-style: none;
    display: inline-block;
    padding: 15px 20px;
}

.navbar-toggler-icon-1{
    font-size: 1.5rem;
}


.nav-link{
    color: #FFF;
    font-family: Poppins;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}







.banner-wrapper{
    width: 60%;
    padding-left: 10%;
    padding-top: 12%;
}

.banner-wrapper h3{
    color: #FFF;
    font-family: Abril Fatface;
    font-size: 4.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner-wrapper p{
    color: #FFF;
    font-family: Poppins;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    width: 90%;
    flex-shrink: 0;
}

.banner-wrapper button{
    width: 9.0625rem;
    height: 3.1875rem;
    flex-shrink: 0;
    border-radius: 0.75rem;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    color: #003049;
    font-family: Poppins;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
}

.second-section{
    width: 100%;
    padding-top: 4%;
}

.second-section h3{
    color: #003049;
    font-family: Abril Fatface;
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    text-align: center;
}

.second-section-p{
    color: #003049;
    font-family: Poppins;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: justify;
    width: 100%;
    padding: 3% 1%;
    margin: auto;
}


.first-container{
    height: 13.25rem;
    flex-shrink: 0;
    border-radius: 0rem 3.625rem 0rem 0rem;
    background: #780000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    display: flex;
    align-items: center; /* Center items vertically */
}

.one,.two, .three, .four{
    color: #000;
    font-family: Abril Fatface;
    font-size: 5.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 40%;
    padding-top: 25%;
}

.four{
    padding-left: 35%;

}
.two, .three{
    padding-left: 38%;
}


.column-1 {

    background: url("../Images/Ellipse\ 10.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 85%;
    width: 30%;
    height: 100%;

    /* flex: 0 0 auto; 
    margin-right: 10px;  */
}

.column-2 {
    flex: 1; /* Grow to fill available space */
}


.first-container img{
    display: inline;

    width: 10.5rem;
    height: 12.5rem;
    flex-shrink: 0;
    padding: 5%;
 z-index: 0;
    margin-left: 6%;
}


.first-container-p{
    display: inline;

    color: #FFF;
    font-family: Poppins;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-right: 3%;
    margin: 0;
    text-align: justify;
}

.second-container{
    height: 13.25rem;
    flex-shrink: 0;
    border-radius: 0rem 3.625rem 0rem 0rem;
    background: #003049;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    display: flex;
    align-items: center; /* Center items vertically */
}


.second-container img{
    display: inline;

    width: 10.5rem;
    height: 12.5rem;
    flex-shrink: 0;
    padding: 5%;
    margin-left: 6%;
}


.second-container-p{
    display: inline;

    color: #FFF;
    font-family: Poppins;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-right: 3%;
    margin: 0;
    text-align: justify;
}

.first-container-row-2{
    height: 13.25rem;
    flex-shrink: 0;
    border-radius: 0rem 3.625rem 0rem 0rem;
    background: #003049;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    display: flex;
    align-items: center; /* Center items vertically */ 
}

.first-container-row-2 img{
    display: inline;

    width: 10.5rem;
    height: 12.5rem;
    flex-shrink: 0;
    padding: 5%;
    margin-left: 6%;
}


.first-container-row-2 p{
    display: inline;

    color: #FFF;
    font-family: Poppins;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-right: 3%;
    margin: 0;
    text-align: justify;
}


.second-container-row-2{
    height: 13.25rem;
    flex-shrink: 0;
    border-radius: 0rem 3.625rem 0rem 0rem;
    background: #780000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    display: flex;
    align-items: center; /* Center items vertically */ 
}

.second-container-row-2 img{
    display: inline;

    width: 10.5rem;
    height: 12.5rem;
    flex-shrink: 0;
    padding: 5%;
    margin-left: 6%;
}


.second-container-row-2 p{
    display: inline;

    color: #FFF;
    font-family: Poppins;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-right: 3%;
    margin: 0;
    text-align: justify;
}



.third-section{
    width: 100%;
    height: 100%;
    margin-top: 5%;
    padding-top: 1%;
    padding-bottom: 5%;
    background-color: #D9D9D9;
}

.form-div{
    width: 100%;
    background-color: #003049;
    height: 45.75rem;
    flex-shrink: 0;
    margin-top: 7%;
    padding-top: 7%;
    padding-left: 16%;
    padding-right: 16%;
    padding-bottom: 4%;
    }

.form-div h2{
    color: #FFF;
    font-family: Abril Fatface;
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;

    padding-bottom: 4%;
}




    form {
        display: flex;
        flex-direction: column;
    }
    
    .row {
        display: flex;
        flex-direction: row;
        margin-bottom: 15px;
    }
    
    .col {
        flex: 1;
        margin-right: 10px;
        
    }
    .phone-input {
        display: flex;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
    }
    
    .input-group {
        display: flex;
        flex-grow: 1;
    }
    
    .country-code {
        flex-grow: 1;
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: 10px center;
        padding-left: 3%;
        position: relative;
    }
    
    .country-code select {
        width: 100%;
        padding: 10px;
        border: none;
        background: white;
        appearance: none;
        font-size: 1.2rem;
    }
    
    .phone-number {
        flex-grow: 3;
    }
    
    .phone-number input[type="tel"] {
        width: 100%;
        padding: 10px;
        border: none;
        background: white;
        appearance: none;
        outline: none;
    }
    
    /* Define background images for each option */
    option[data-image="Images/usa.png"] {
        background-image: url("Images/usa.png");
    }
    
    option[data-image="Images/uk.png"] {
        background-image: url("Images/uk.png");
    }
    
    option[data-image="Images/canada.png"] {
        background-image: url("Images/canada.png");
    }
    
    option[data-image="Images/aus.jpeg"] {
        background-image: url("Images/aus.jpeg");
    }
    
    /* Add more CSS rules for other country codes and flag images */
    
    /* Apply the same style to all text boxes and textarea */
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    select,
    button {
        width: 100%;
        padding: 10px;
        height: 3.5rem;
        
        appearance: none;
        outline: none;

        border-radius: 0.625rem;
        border: 1px solid var(--basic-green, #1B6263);
        background: #FFF;


        color: var(--Basic-para, #656464);
        font-family: Poppins;
        font-size: 0.9375rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5rem; /* 160% */
        letter-spacing: 0.018rem;
    }
    
    textarea{
        height: 5.5rem;
        width: 100%;
        padding: 10px;
        
        appearance: none;
        outline: none;

        border-radius: 0.625rem;
        border: 1px solid var(--basic-green, #1B6263);
        background: #FFF;


        color: var(--Basic-para, #656464);
        font-family: Poppins;
        font-size: 0.9375rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5rem; /* 160% */
        letter-spacing: 0.018rem;

    }

    button {
        border-radius: 0.625rem;
        background: #C0EAFF;
        border: none;
        cursor: pointer;
        width: 100%;

        color: #003049;
        font-family: Poppins;
        font-size: 0.9375rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    button:hover {
        background-color: #0056b3;
    }


.map img{
    width: 100%;
}

.last-section{
    width: 100%;
    padding-top: 4%;
    
}
.last-section h3{
    color: #000;
    font-family: Abril Fatface;
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.last-section-text{
    color: #003049;
    font-family: Poppins;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: justify;

    
}

.card{
    width: 100%;
    border: 2px;
    height: 35rem;
    margin-top: 40%;
}

.card-img{
    
    margin: auto;
    transform: translateY(-35%);
    width: 80%;
    display: flex;
    justify-content: center;
}


.card-body{
    border-radius: 0rem 0rem 4.3125rem 4.3125rem;
    background: #003049;
    height: 15rem;
    padding-top: 0%;
    margin: auto;
}

.card-content{
    transform: translateY(-30%);
}

.card-title{
    color: #FFF;
    font-family: Abril Fatface;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    text-align: center;
}
.star-img{
    width: 85%;
    margin: auto;
    padding-left: 15%;
}

.card-text{
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;


    width: 80%;
    margin: auto;
    padding-top: 5%;
    padding-bottom: 15%;
    


}




.stay-upto-date{
    background: #780000;
    width: 100%;
    height: 8rem;
    margin-top: 7%;
}
.stay-updated{
    color: #FFF;
    text-align: center;
    font-family: Abril Fatface;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 66.667% */
    letter-spacing: 0.04319rem;
    width: 80%;
    padding-left: 15%;
    padding-top: 4%;
}

.footer{
    background: #003049;
    width: 100%;
    height: 100%;
}

.footer-logo{
    flex-shrink: 0;
    padding-top: 5%;
    margin-left: 40%;
}

.f-logo{
    width: 25%;
}



.sentence{
    padding-bottom: 5%;
}

.sentence-1{
    width: 100%;
    color: #FFF;
    text-align: center;
    font-family: Abril Fatface;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 96% */
    letter-spacing: 0.03rem;
    padding-top: 5%;
}

.s-name{
    color: #FFF;
    text-align: center;
    font-family: Abril Fatface;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 120% */
    letter-spacing: 0.024rem;
    margin: auto;
    width: 100%;
    padding-top: 1%;
}


.footer-row{
    padding-left: 8%;
    width: 100%;
}
.footer-heading{
    color: #ffffff;
    font-family: Poppins;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem; /* 133.333% */
    letter-spacing: 0.02163rem;
    padding-bottom: 1%;
}


.text-footer{
    color: var(--basic-white, #FAFAFA);
    font-family: Cabin;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4875rem; 
    text-decoration: none;
  
 
}


.text-footer:hover{
    color: var(--basic-white, #FAFAFA);
   
}


.last-line-footer{
    margin-top: 5%;
    align-items: center;
    margin-bottom: 0;
}

.copyright{
    color: #FFF;
    font-family: Poppins;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 160% */
    letter-spacing: 0.018rem;
}

.privacy{
    color: var(--basic-white, #FAFAFA);
    font-family: Raleway;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 160% */
    letter-spacing: 0.018rem;
}
.social-media-buttons{
    font-size: 2.5rem;
    flex-shrink: 0;
}



































@media (min-width: 768px) and (max-width: 991.98px) {

    /* for tablets  */


    .navbar-toggler-icon-1{
        font-size: 1.5rem;
    }
    
    .modal{
        width: 90%;
        overflow: hidden;
    }

    

    .modal-body{
        width: 10.125rem;
        height: 15.375rem;
        padding: 0;

    }
    .MenuBar-body{
        width: 10.125rem;
        height: 15.375rem;
        background-color: white;
        
    
    }
    
        
    .modal-content{
        /* width: 100%; */
        width: 10.125rem;
        height: 18.375rem;
        margin-top: 5rem !important;
        margin-left: 1rem !important;
        margin-right: 3rem !important;
    }
        
    .modal-dialog{
        overflow: hidden;
    }

   
    .modal-body ul{
        padding: 0;
    }

    .modal-body ul li {
        list-style: none;
        display: inline-block;
        
    }
    

    .items-blue,.items-red{
        width: 5.3145rem;
        height: 1.33375rem;
        margin: auto;
    }

    .toggle-item{
        margin-top: 1%;

    }

    .toggle-link{
        font-size: 0.625rem;
    }                                              

    .navbar{
        padding-left: 3%;
        padding-right: 1%;
        width: 100%;
    }

    .navbar-brand{
        width: 5.9375rem;
        height: 5.53638rem;
        flex-shrink: 0;
    }

    .navbar-nav{
        width: 100%;
    }
    

    .nav-link{
        color: #ffffff;
        font-size: 0.8973rem;
        align-items: center;
       
    }

    .nav-link .active{
        color: #ffffff ;
        font-size: 0.7973rem;
       
    }


    .banner-page{
        height: 30rem;
        background-size: 110%;
    }





    .banner-wrapper{
        width: 70%;
        padding-left: 5%;
        padding-top: 18%;
    }
    
    .banner-wrapper h3{
        font-size: 2.5rem;
    }
    
    .banner-wrapper p{
        font-size: 0.975rem;
        width: 100%;
        flex-shrink: 0;
    }
    
    .banner-wrapper button{
        width: 8.625rem;
        height: 2.875rem;
        font-size: 0.975rem;
        padding-top: 2%;
    }



    
    .second-section{
        width: 100%;
        padding-top: 4%;
    }
    
    .second-section h3{
        font-size: 2.125rem;
    }
    
    .second-section-p{
        font-size: 0.975rem;
    }
    
    

    
.one,.two, .three, .four{
    color: #000;
    font-family: Abril Fatface;
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 38%;
    padding-top: 69%;
}

.four{
    padding-left: 35%;

}
.two, .three{
    padding-left: 38%;
}


.column-1 {

    background-position: center;
    background-size: 85%;
    width: 30%;
    height: 100%;

    /* flex: 0 0 auto; 
    margin-right: 10px;  */
}
  
    
    .first-container img{
        display: inline;
    
        width: 8.5rem;
        height: 8.5rem;
       
    }
    
    
    .first-container-p{
        display: inline;
    
        color: #FFF;
        font-family: Poppins;
        font-size: 0.875rem;
    }
    
  
    
    .second-container img{
        display: inline;
    
        width: 8.5rem;
        height: 8.5rem;
        flex-shrink: 0;
        padding: 5%;
        margin-left: 6%;
    }
    
    
    .second-container-p{
        font-size: 0.825rem;
    }
    

    .first-container-row-2 img{
        display: inline;
    
        width: 8.5rem;
        height: 8.5rem;
    }
    
    
    .first-container-row-2 p{
        font-size: 0.825rem;
    }
    
    
    .second-container-row-2 img{
        display: inline;
    
        width: 8.5rem;
        height: 8.5rem;
        flex-shrink: 0;
        padding: 5%;
        margin-left: 6%;
    }
    
    
    .second-container-row-2 p{
        display: inline;
    
        color: #FFF;
        font-family: Poppins;
        font-size: 0.825rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-right: 3%;
        margin: 0;
        text-align: justify;
    }
    
    
    
    .third-section{
        width: 100%;
        height: 100%;
        margin-top: 5%;
        padding-top: 1%;
        padding-bottom: 5%;
        background-color: #D9D9D9;
    }
    
    .form-div{
        height: 100%;
        padding: 6% 16%;
        }
    
    .form-div h2{
        font-size: 2.125rem;
        padding-bottom: 4%;
    }
    
    
    .country-code select {
        font-size: 0.875rem;
    }
    
        /* Apply the same style to all text boxes and textarea */
        input[type="text"],
        input[type="email"],
        input[type="tel"],
        textarea,
        select,
        button, option {
           
            font-size: 0.875rem;
           
        }
        
        button {
           
            font-size: 0.875rem;
            
        }
        
        button:hover {
            background-color: #006dfa;
        }
    
    
    .map img{
        width: 100%;
    }
    
    .last-section{
        width: 100%;
        padding-top: 4%;
        
    }
    .last-section h3{
        font-size: 2rem;
    }
    
    .last-section-text{
        font-size: 0.975rem;
    }
    


.card{
    height: 20rem;
    margin-top: 25%;
}

.card-img{
    
    margin: auto;
    transform: translateY(-35%);
    width: 80%;
    display: flex;
    justify-content: center;
}


.card-body{
    border-radius: 0rem 0rem 3rem 3rem;
    background: #003049;
    height: 15rem;
    padding-top: 0%;
    margin: auto;
}

.card-content{
    transform: translateY(-20%);
}

.card-title{
    color: #FFF;
    font-family: Abril Fatface;
    font-size: 0.975rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    text-align: center;
}
.star-img{
    width: 85%;
    margin: auto;
    padding-left: 15%;
}

.card-text{
    font-size: 0.75rem;
    padding-bottom: 5%;
}




















    









/* tab footer  */

.stay-upto-date{
    background: #780000;
    width: 100%;
    height: 4.1875rem;
}
.stay-updated{
    font-size: 1.25rem;
    letter-spacing: 0.024rem;
    width: 90%;
    padding-left: 10%;
}






.footer-logo{
    width: 4.89019rem;
    height: 4.473rem;
    padding-top: 5%;
    margin-left: 45%;
}

.f-logo{
    width: 100%;
}

.sentence{
    padding-bottom: 5%;
}

.sentence-1{
    width: 80%;
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.5rem; /* 120% */
    letter-spacing: 0.024rem;
    padding-top: 10%;
    margin: auto;
}

.s-name{
    font-size: 0.9375rem;
    line-height: 1.5rem; /* 160% */
    letter-spacing: 0.018rem;
    margin: auto;
    width: 100%;
    padding-top: 1%;
}


.footer-row{
    padding-left: 0;
    width: 100%;
}
.footer-heading{
    font-size: 0.9375rem;
    letter-spacing: 0.018rem;
    padding-bottom: 1%;
}


.text-footer{
    font-size: 0.75rem;
    line-height: 1.4875rem; 
    text-decoration: none;
  
 
}



.last-line-footer{
    margin-top: 5%;
    align-items: center;
    margin-bottom: 0;
}

.copyright{
    width: 100%;
    font-size: 0.75rem;
    line-height: 1.5rem; /* 200% */
    letter-spacing: 0.01438rem;
}

.privacy{
    font-size: 0.75rem;
    line-height: 1.5rem; /* 200% */
    letter-spacing: 0.01438rem;
}

.social-media-buttons{
    font-size: 1.5rem;
    flex-shrink: 0;
    
}





}




































/* responsive code for mobile view  */


@media (min-width: 300px) and (max-width: 700px) {



   /* mobile navbar */

   .navbar-toggler{
    width: 20%;
   }

   .navbar-toggler-icon-1{
    font-size: 1.9rem;
}


    .modal{
        width: 90%;
        overflow: hidden;
    }

    .banner-page{
        width: 100%;
        height: 42rem;
        background-position: center;
        overflow: hidden;
    }


    .modal-body{
        width: 10.125rem;
        height: 15.375rem;
    }
    .MenuBar-body{
        width: 10.125rem;
        height: 15.375rem;
    
    }
    

    /* Customize the modal animation */
  @keyframes slideInRight {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(15%);
    }
  }
        
    .modal-content{
        /* width: 100%; */
        width: 10.125rem;
        height: 18.375rem;
        margin-top: 5rem !important;
        margin-left: 1rem !important;
        margin-right: 3rem !important;
    }
        
    .modal-dialog{
        overflow: hidden;
    }

    .modal-body {
        padding: 0;
        
    }
    .modal-body ul
    {
        padding: 0;
    }

    .modal-body ul li {
        list-style: none;
        display: inline-block;
        color: black;
        
    }
    

    .items-blue,.items-red{
        width: 5.3145rem;
        height: 1.33375rem;
        margin: auto;
    }

    .toggle-item{
        margin-top: 1%;

    }

    .toggle-link{
        font-size: 0.625rem;
    }                                              

    .navbar-brand{
        width: 4.4375rem;
        height: 4.13638rem;
        flex-shrink: 0;
    }

    .navbar-nav{
        width: 100%;
        background-color: rgba(59, 56, 104, 0.517);
        z-index: 199;

    }

    .btn-link{
        margin-left: 40%;
        margin-bottom: 7%;
        width: 20%;
    }
    
    

    .nav-link{
        font-size: 0.973rem;
        align-items: center;
        text-align: center;
       
    }

    .first-banner{
        overflow: hidden;
    }

.banner-content{
    width: 120%;
}












.banner-page{
    height: 100vh;
    background-size: 400%;
    background-position: 80%;
}





.banner-wrapper{
    width: 80%;
    padding-left: 5%;
    padding-top: 5%;
}

.banner-wrapper h3{
    font-size: 3.5rem;
}

.banner-wrapper p{
    font-size: 1.1rem;
    width: 100%;
    flex-shrink: 0;
}

.banner-wrapper button{
    width: 9.625rem;
    height: 2.975rem;
    font-size: 1rem;
    padding-top: 2%;
}

.second-section{
    width: 100%;
    padding-top: 4%;
}

.second-section h3{
    font-size: 1.5rem;
}

.second-section-p{
    font-size: 0.875rem;
}




    
.one,.two, .three, .four{
    color: #000;
    font-family: Abril Fatface;
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 38%;
    padding-top: 69%;
}

.four{
    padding-left: 35%;

}
.two, .three{
    padding-left: 38%;
}


.column-1 {

    background-position: center;
    background-size: 85%;
    width: 30%;
    height: 100%;

    /* flex: 0 0 auto; 
    margin-right: 10px;  */
}
  



.first-container img{
    display: inline;

    width: 7.5rem;
    height: 7.5rem;
   
}


.first-container-p{
    display: inline;

    color: #FFF;
    font-family: Poppins;
    font-size: 0.75rem;
}



.second-container img{
    display: inline;

    width: 7.5rem;
    height: 7.5rem;
    flex-shrink: 0;
    padding: 5%;
    margin-left: 6%;
}


.second-container-p{
    font-size: 0.725rem;
}


.first-container-row-2 img{
    display: inline;

    width: 7.5rem;
    height: 7.5rem;
}


.first-container-row-2 p{
    font-size: 0.725rem;
}


.second-container-row-2 img{
    display: inline;

    width: 7.5rem;
    height: 7.5rem;
    flex-shrink: 0;
    padding: 5%;
    margin-left: 6%;
}


.second-container-row-2 p{
    font-size: 0.725rem;
}


.second-container, .second-container-row-2{
    margin-top: 15%;
}


.third-section{
    width: 100%;
    height: 100%;
    margin-top: 15%;
    padding-top: 1%;
    padding-bottom: 5%;
    background-color: #D9D9D9;
}

form{
    padding: 0;
    margin: 0;
}


.form-div{
    height: 100%;
    padding-right: 1%;
    padding-left: 3%;
    margin-right: 0;
    width: 100%;
    
    }

.form-div h2{
    font-size: 1.5rem;
    padding-bottom: 4%;
}


.country-code select {
    font-size: 0.75rem;
    
}

    /* Apply the same style to all text boxes and textarea */
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea,
    select,
    button, option {
       
        font-size: 0.75rem;
       
    }
    
    button {
       
        font-size: 0.875rem;
        
    }
    
    button:hover {
        background-color: #006dfa;
    }


.map img{
    width: 100%;
}

.last-section{
    width: 100%;
    padding-top: 4%;
    
}
.last-section h3{
    font-size: 2rem;
}

.last-section-text{
    font-size: 0.975rem;
}

.mobile-card{
    display: none;
}


.card{
height: 25rem;
margin-top: 25%;
}

.card-img{

margin: auto;
transform: translateY(-35%);
width: 85%;
display: flex;
justify-content: center;
}


.card-body{
border-radius: 0rem 0rem 3rem 3rem;
background: #003049;
height: 15rem;
padding-top: 0%;
margin: auto;
}

.card-content{
transform: translateY(-30%);
}

.card-title{
color: #FFF;
font-family: Abril Fatface;
font-size: 0.975rem;
font-style: normal;
font-weight: 400;
line-height: normal;

text-align: center;
}
.star-img{
width: 75%;
margin: auto;
padding-left: 25%;
}

.card-text{
font-size: 0.75rem;
padding-bottom: 15%;
}



















/* mobile footer  */

.stay-upto-date{
    background: #780000;
    width: 100%;
    height: 4.1875rem;
}
.stay-updated{
    font-size: 1.25rem;
    letter-spacing: 0.024rem;
    width: 90%;
    padding-left: 10%;
}


.footer-logo{
    width: 4.89019rem;
    height: 4.473rem;
    padding-top: 5%;
    margin: auto;
}

.f-logo{
    width: 100%;
}

.sentence{
    padding-bottom: 5%;
}

.sentence-1{
    width: 100%;
    text-align: center;
    font-size: 0.925rem;
    letter-spacing: 0.024rem;
    padding-top: 10%;
    margin: auto;
}

.s-name{
    font-size: 0.9375rem;
    line-height: 1.5rem; /* 160% */
    letter-spacing: 0.018rem;
    margin: auto;
    width: 100%;
    padding-top: 1%;
}


.footer-row{
    padding-left: 2%;
    width: 100%;
}
.footer-heading{
    font-size: 0.9375rem;
    letter-spacing: 0.018rem;
    padding-bottom: 1%;
}


.text-footer{
    color: var(--Basic-white, #FAFAFA);
    font-family: Poppins;
    font-size: 0.775rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.625rem; /* 166.667% */
    text-decoration: none;
  
 
}



.last-line-footer{
    margin-top: 5%;
    align-items: center;
    margin-bottom: 0;
}

.copyright{
    width: 100%;
    font-size: 0.75rem;
    line-height: 1.5rem; /* 200% */
    letter-spacing: 0.01438rem;
}

.privacy{
    font-size: 0.75rem;
    line-height: 1.5rem; /* 200% */
    letter-spacing: 0.01438rem;
}

.social-media-buttons{
    font-size: 1.5rem;
    flex-shrink: 0;
    
}














}

